<script>
    const retrieveWeatherData = async (city) => {
        let response = await fetch(`/weather?city=${city}`, {
            method: "GET",
            headers: {'Content-Type': 'application/json'}
        });
        response = await response.json();
        return response;
    }
    const getInventory = async () => {
        document.querySelector('#message').innerHTML = '';
        document.querySelector('#jsonInventory').innerHTML = '';

        document.querySelector('#message').innerHTML = "Loading...";
        
        let items = await fetch('/items', {
            method: "GET",
            headers: {'Content-Type': 'application/json'}
        })

        items = await items.json();

        for (let i = 0; i < items.data.length; i++) {
            const item = items.data[i];
            const weatherData = await retrieveWeatherData(item.city);
            if (!("data") in weatherData) {
                item['weather'] = weatherData.message;
            } else {
                item['weather'] = weatherData.data;
            }
        }

        document.querySelector('#message').innerHTML = items.message;
        document.querySelector('#jsonInventory').innerHTML = 
            items.data.length > 0 ? JSON.stringify((items.data), null, 4) : "No items in inventory.";
    }
    const clearMessage = () => {
        document.querySelector('#message').innerHTML = '';
        document.querySelector('#jsonInventory').innerHTML = '';
    }
</script>

<div style="display: flex; ">
    <div style="display: flex; flex-direction: column;">
        <div>
            <h2>Get Current Inventory</h2>
            <div style="display: flex; justify-content: center">
                <input type="submit" value="Read Inventory" style="margin: 0 auto;" onclick="getInventory()">
                <button onclick="clearMessage()">Clear Response</button>
            </div>
        </div>
        <p id="message"></p>
        <pre><code id="jsonInventory"></code></pre>
    </div>
</div>